:root {
    --font: 'Thasadith', sans-serif;
    --color-red: #ef5e4e;
    --color-white: #fff;
    --color-grey: #d9d9d9;
    --color-medium-grey: #A9A9A9;
    --color-black: #000;
    --color-green: #006400;
}